
<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=pageTitle%></title>
  <!-- css -->
  <%- css('css/slate') %>
  <!-- 代码高亮 -->
  <% if (config.highlight.enable != true) { %>
    <% if (theme.plugins.highlightjs && theme.plugins.highlightjs.css) { %>
      <%- css(theme.plugins.highlightjs.css) %>
    <% } %>
  <% } %>
</head>
<body>
  <%
  function trimNumber(str){
    return str.replace(/\d+/g,'').replace(/\//g,'');
  }
  %>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <% if(is_home() == true){ %>
        <a id="forkme_banner" href="<%= theme.site.create_post%>">Create Post</a>
        <% } %>
        <% if(is_post() == true){ %>
          <a id="forkme_banner" href="<%= theme.site.edit_post%><%=trimNumber(page.path)%>.md">Edit Post</a>
        <% } %>
        <h1 id="project_title">
          <a href="/">
            <% if(is_home() == true || page.title==undefined) {%>
              <%=theme.site.title%>
              <% }else { %>
                <%=page.title%>
              <% }%>
          </a>
        </h1>
          <h2 id="project_tagline_smaller">
            <% if(is_home() == true ) {%>
            <%=theme.site.description%>
            <% } else { %>
              <%=full_date(page.date,'MMM DD YYYY') %>
            <% } %>
          </h2>
          <h2 id="project_tagline">
            <ul class="menu-ul">
            <% Object.keys(theme.menu).forEach(key => { %>
              <a href="<%=url_for(theme.menu[key])%>" class="nav-link">
                <li class="menu-li">
                  <%=key%>
                </li>
              </a>
            <% }); %>              
            </ul>
          </h2>
      </header>
  </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <%- body %>
      </section>
    </div>


    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p><%- markdown(theme.site.foot) %></p>
      </footer>
    </div>
    <% if (config.highlight.enable != true) { %>
      <% if (theme.plugins.highlightjs && theme.plugins.highlightjs.js) { %>
        <%- js(theme.plugins.highlightjs.js) %>
        <script>hljs.initHighlightingOnLoad();</script>
      <% } %>
    <% } %>
</body>
</html>
